@defer (when sessionOrder != null && currentSessionUser != null) {
  <div style="width: 90%" class="row mx-auto bg-light rounded p-2">
    <div class="row">
      <div class="col-6">
        <p class="h4">{{ sessionOrder!.product!.name }}</p>

        <p>
          {{ sessionOrder!.quantity }}x R${{
            sessionOrder!.product!.price / 100
          }}
        </p>

        <h3>= R${{ sessionOrder!.amount / 100 }}</h3>

        @if (sessionOrder!.statusId == 0) {
          <h5 class="text-success">Pedido Pago</h5>
        } @else if (sessionOrder!.statusId == 1) {
          <h5 class="text-warning">Pedido Feito</h5>
        } @else if (sessionOrder!.statusId == 2) {
          <h5 class="text-info">Pedido Recebido</h5>
        } @else if (sessionOrder!.statusId == 3) {
          <h5 class="text-secondary">Pedido Entregue</h5>
        } @else {
          <h5 class="text-danger">Pedido Cancelado</h5>
        }
      </div>

      <div class="col-6">
        <div
          style="width: 100%; aspect-ratio: 1; position: relative"
          class="mx-auto my-2"
        >
          <img
            [ngSrc]="sessionOrder!.product!.image"
            fill
            alt=""
            class="rounded"
            priority
          />
        </div>
      </div>
    </div>

    <div class="my-2">
      <div class="d-flex justify-content-start overflow-x-scroll">
        @for (
          sessionOrderUser of sessionOrder!.sessionOrderUsers;
          track sessionOrderUser.id
        ) {
          <app-session-user [sessionUser]="sessionOrderUser.sessionUser!" />
        }
      </div>
    </div>

    <div>
      @if (!verifyUserInOrder() && verifyOrderAvailable()) {
        <button
          class="btn btn-success w-100 my-2 mx-auto"
          (click)="helpWithOrder()"
          [disabled]="!allowAction"
        >
          Dividir Pedido <i class="bi bi-person-plus-fill"></i>
        </button>
      } @else if (verifyActiveUsers() >= 2 && verifyOrderAvailable()) {
        <button
          class="btn btn-warning w-100 my-2 mx-auto"
          (click)="notHelpWithOrder()"
          [disabled]="!allowAction"
        >
          Deixar de Dividir Pedido <i class="bi bi-heartbreak"></i>
        </button>
      }
    </div>
  </div>
} @placeholder (minimum 1s) {
  <div class="spinner-grow m-auto" role="status"></div>
}
