<nav class="navbar bg-body-secondary sticky-top">
  <div class="container-fluid">
    @defer (when table != null) {
      <span class="navbar-brand m-auto"> {{ table?.restaurant?.name }} </span>
    } @placeholder (minimum 1s) {
      <div class="spinner-grow m-auto" role="status"></div>
    }
  </div>
</nav>

<style>
  .content-body {
    @media (min-width: 576px) {
      height: 100vh;
    }
  }
</style>

@defer (when table != null) {
  <div class="row">
    <div class="col-xl-9 col-lg-8 overflow-y-scroll content-body mt-2">
      <div
        style="width: 80%; aspect-ratio: 1.5; position: relative"
        class="mx-auto"
      >
        <img
          [ngSrc]="table!.restaurant!.image"
          fill
          alt=""
          class="rounded"
          priority
        />
      </div>

      <p class="m-3">
        {{ table!.restaurant!.description }}
      </p>

      <div>
        <div class="mx-3 d-flex overflow-x-scroll">
          @for (sessionUser of sessionUsers(); track sessionUser.id) {
            <div class="bg-info rounded-pill d-flex p-1 mx-1">
              <div style="width: 45px; aspect-ratio: 1; position: relative">
                <img
                  ngSrc="/assets/images/avatar_{{
                    sessionUser.user?.imageid
                  }}.png"
                  fill
                  alt=""
                  class="rounded-circle"
                  priority
                />
              </div>

              <div class="d-flex align-items-center text-light h5 mx-2">
                {{ sessionUser.user?.name }}
              </div>
            </div>
          }
        </div>
      </div>

      <div class="row">
        @for (product of table!.restaurant!.products; track product.id) {
          <div class="col-xl-6">
            <div
              style="width: 90%"
              class="row mx-auto my-3 bg-light rounded p-2"
            >
              <div class="col-6">
                <div
                  style="width: 100%; aspect-ratio: 1; position: relative"
                  class="mx-auto my-2"
                >
                  <img
                    [ngSrc]="product.image"
                    fill
                    alt=""
                    class="rounded"
                    priority
                  />
                </div>
              </div>

              <div class="col-6">
                <p class="h4">{{ product.name }}</p>

                <p>{{ product.description }}</p>

                <p class="h5 text-success">
                  R$
                  <span class="h4 text-success">
                    {{ product.price / 100 }}
                  </span>
                </p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 bg-danger">
      <h3 class="text-light text-center my-3">Perfil</h3>

      <div>
        @for (avatar of avatars; track avatar.id) {
          <div
            style="width: 80%; aspect-ratio: 1; position: relative"
            class="mx-auto my-3"
            [hidden]="avatar.id != selectedAvatar.id"
          >
            <img
              [ngSrc]="avatar.path"
              fill
              alt=""
              class="rounded-circle"
              priority
            />
          </div>
        }
      </div>

      <div>
        <ul class="d-flex flex-wrap w-75 mx-auto">
          @for (avatar of avatars; track avatar.id) {
            <div
              style="width: 20%; aspect-ratio: 1; position: relative"
              class="m-1"
              (click)="selectAvatar(avatar.id)"
            >
              <img
                [ngSrc]="avatar.path"
                fill
                alt=""
                class="rounded-circle"
                priority
              />
            </div>
          }
        </ul>
      </div>

      <div class="mb-3 mx-2">
        <label for="nameInput" class="form-label h5 text-light">Nome</label>
        <input
          type="email"
          class="form-control bg-danger text-light"
          style="font-size: 35px"
          id="nameInput"
        />
      </div>

      <div class="mx-2 mt-4 mb-5">
        <button
          class="btn btn-light text-danger w-100 rounded-pill py-3"
          style="font-size: 30px"
        >
          ENTRAR
        </button>
      </div>
    </div>
  </div>
} @placeholder (minimum 1s) {
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 500px"
  >
    <div class="spinner-grow mx-auto" role="status"></div>
  </div>
}
